body{
    background-color: royalblue;

}
header{
    background-color:#9191d6 ;
    border-radius: 40px;
    height:200px;
    height:250;
    text-align: center;


}
.naslov{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blueviolet;
    text-align: center;
    text-decoration:underline,blue,5px;
    padding-top: 100px;
    letter-spacing: 10px;
    font:50px;

}
.lista{
    
    color: black;
    text-align: center;
    background-color: bisque;
    height:150px;
    
}
section{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    margin: 0%;
    border-bottom:1px,solid,red;
    margin: 30px;
    padding: 20px;

    
    
}
p{
    text-indent: 30px
   
}